/* --- mobile styling --- */

 /* general styling */
body, button{
    font-family: karla;
}

.skip-link{
    position: fixed;
    z-index: -1;
    color: #f3f0e9;
}

body{
    background-color: #f3f0e9;
}

h1, h2, h3, nav{
    font-family: lato;
}

p:not(.yellow-text){
    font-size: 1rem;
    line-height: 1.5rem;
    padding-bottom: 1rem;
}

:root{
    --button-color: #ffffff;
    --yellow-button: #966f2c;
    --black-button: #000000;
}

.yellow-text{        
    color: #d69e3d;
    font-size: 1.25rem;
    text-transform: uppercase;
    font-weight: bold;
}

h1, .banner-container p, footer, nav{
    color: #ffffff;
}

button{
    border-color: var(--button-color);
    background-color: var(--button-color);
    font-size: 1.5rem;
    padding: 1rem 2rem;
    text-transform: uppercase;
    font-weight: bold;
    margin: 1rem 0;
}

button:hover{
    color: var(--button-color);
    background-color: var(--yellow-button);
}

button:focus{
    color: var(--black-button);
    background-color: var(--yellow-button);
    border-color: var(--black-button);
}

.banner-container, .sec3, footer{
    text-align: center;
}

.container{
    background-color: #000000;
}


/* header styling */
@keyframes pop-up {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.banner-overlay{
    animation: pop-up 2s 0s alternate forwards ease-out;
}

.banner-container{
    height: 60vh;
    background-image: 
    linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url(../images/hero-background.jpg);
    background-size: cover;
    background-position: center;
    padding: 1rem;
}

h1{
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 7rem;
}

.banner-container p{
    font-size: 1rem;
    font-size: 1.25rem;
    margin: 1rem 0;
    font-weight: lighter;
    padding-bottom: 0;
    padding: 0 .75rem;
}

nav{
    margin-left: auto;
    display: none;
}

.nav-button{
    margin-left: auto;
    background-color: transparent;
    border: none;
    color: var(--button-color);
    margin-bottom: 0;
    margin-top: 0;
}

.fa-bars{
    font-size: 1.25rem;
}

.nav-bar{
    display: flex;
    border-bottom: 1px solid #ffffff75;
}

.header-button{
    font-size: 1.5rem;
    padding: .5rem 2rem;
    text-transform: uppercase;
    font-weight: bold;
    color: var(--black-button);
}


/* main styling */
h2{
    font-size: 1.75rem;
    font-weight: bold;
    text-transform: uppercase;
    margin: 1rem 0;
}

h3{
    font-size: 1.375rem;
    font-weight: bold;
    text-transform: uppercase;
}

.sec1, .sec2, .sec4{
    margin-top: 1.5rem;
    margin: 1rem;
}

.sec1, .sec2, .sec4{
    margin-top: 4rem;
}

.sec1-coffee img{
    width: 100%;
    object-fit: cover;
}

.coffee-grid{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.small-coffee{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.sec2{
    text-align: center;
}

.sec2 p:not(.yellow-text){
    text-align: center;
    margin: 1.5rem 0;
}

.sec2 img{
    width: 150px;
    margin: 1rem 0;
    padding-top: 1rem;
}

.sec3-container{
    height: 55vh;
    background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url(../images/coffee-shop.jpeg);
    background-size: cover;
    background-position: center;
    padding: 1.5rem;
}

.locations button{
    color: var(--button-color);
    background-color: transparent;
}

.locations button:hover{
    color: var(--black-button);
    background-color: var(--button-color);
}

.locations button:focus{
    color: var(--black-button);
    background-color: var(--button-color);
}

.sec3 div{
    margin: 2.5rem 0;
}

.sec3 h2{
    color: #ffffff;
    text-align: center;
    padding: 0 2rem;
}

.sec4 img{
    width: 100%;
    object-fit: cover;
}

.sec4 div{
    margin-top: 2rem;
}

.sec4 button{
    color: var(--button-color);
    background-color: var(--black-button);
}

.sec4 button:hover{
    background-color: var(--yellow-button);
}

.sec4 button:focus{
    color: var(--black-button);
    background-color: var(--yellow-button);
}

.sec5{
    padding: 1.5rem;
    padding-top: 4rem;
    margin-top: 4rem;
}

.sec5 h2, .sec5 p:not(.yellow-text){
    color: #ffffff;
}

.sec5-card{
    margin: 2rem 0;
}

.sec5-card p{
    margin: 0 1rem;
    transform: translate(0, 500px);
}

.jane{
    background-image: 
    linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url(../images/testimonial-1.jpeg);
}

.scott{
    background-image: 
    linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url(../images/testimonial-2.jpeg);
}

.susie{
    background-image: 
    linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url(../images/testimonial-3.jpeg);
}

.jane, .scott, .susie{
    height: 66vh;
    background-size: cover;
    background-position: center;
}

    
/* footer styling */
footer{
    border-top: 1px solid #ffffff75;
    padding: 1rem;
    background-color: black;
}


/* --- tablet styling --- */
@media screen and (min-width: 768px){

    /* general styling */
    h1{
        font-size: 3rem;
        line-height: 3.5rem;
        margin-top: 7.5rem;
    }

    h2{
        font-size: 2.375rem;
    }

    h3{
        font-size: 1.75rem;
    }

    /* header styling */
    .banner-container{
        height: 65vh;
    }

    .banner-container p{
        font-weight: normal;
        line-height: 2rem;
        padding: 0 5rem;
    }

    .header-button{
        padding: 1rem 3rem;
    }

    /* main styling */
    .coffee-grid{
        flex-direction: row;
    }

    .sec2-card, .sec5-card{
        margin-top: 2rem;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 1.5rem;
    }

    .card1{
        grid-column: 1 / 3;
    }

    .card2{
        grid-column: 3 / 5;
    }

    .card3{
        grid-column: 2 / 4;
    }

    .sec3{
        height: 60vh;
    }

    .sec5{
        padding-bottom: 2.5rem;
    }
}


/* --- desktop styling --- */
@media screen and (min-width: 1100px){

    /* general styling */
    .wrapper{
        width: 1200px;
        margin: auto;
    }

    h1{
        font-size: 3.875rem;
        padding: 0 4rem;
        line-height: 4.5rem;
        margin-top: 11rem;
    }

    h2{
        font-size: 3rem;
    }

    h3{
        font-size: 2rem;
    }

    .sec5{
        width: 1200px;
        margin: auto;
    }

    /* header styling */
    .nav-button{
        display: none;
    }
    
    nav{
        display: flex;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    nav li{
        display: inline;
        margin-inline-start: 2.5rem;
    }

    a:link{
        text-decoration: none;
        color: #ffffff;
    }

    .nav-bar{
        max-width: 1200px;
        margin: auto;
    }

    .banner-container p{
        padding: 0 10rem;
    }

    .banner-container{
        height: 80vh;
    }

    /* main styling */
    .sec1, .sec2{
        margin: 5rem 0;
    }

    .sec2-card, .sec5-card{
        display: flex;
        flex-direction: row;
    }

    .sec3{
        height: 50vh;
        display: flex;
        flex-direction: row;
        align-items: center;
        max-width: 1200px;
        margin: auto;
        /* padding: 0 calc((100% - 1200px)/2); */
    }

    .sec4{
        display: flex;
        flex-direction: row;
        gap: 2rem;
        align-items: center;
        margin: 0;
        margin-top: 2rem;
        margin: 5rem 0;
    }

    .sec4 div:nth-child(2){
        width: 100%;
    }

    .sec5{
        padding-bottom: 5rem;
        background-color: #000000;
    }

    .sec5-card p{
        transform: translate(0, 475px);
    }
}